#btnAdicionar {
    width: 100px;
    background-color: grey;
    padding: 10px;
    border: 2px solid black;
    text-align: center;
    font-size: large;
    margin: 100px;
}

#inputLista {
    background-color: gray;
    width: 300px;
    flex-direction: column;
    display: none;
}